# Build artifacts
build/
**/build/
*.obj
*.exe
*.dll
*.lib
*.exp
*.vcxproj
*.vcxproj.filters
*.sln
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
*.tlog
*.recipe
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store